
    <!-- solicitar cartões -->
    <section class="subpag  align-items-center pe-0 align-items-sm-start d-flex flex-column container" id="solicitar">
      <h3 class="text-uppercase mb-4">selecione o tipo do passe</h3>
      <div class="row g-5 container align-items-center align-items-md-start" id="containerbutton">
        <div class="col-6 col-md-4 col-lg-4">
          <button class="pb-4 btn w-100 h-100 rounded-4 btn-secondary px-0 btnsSoli" id="btn-solicit-comum">
            <div class="d-inline-flex container-fluid justify-content-center passesSoli">
              <h6 class="mb-5 mt-1 ms-auto">COMUM</h6>
              <i class="bi p-0 ms-auto fs-4 active-icon"></i>
            </div>
            <img src="img/passe comum.png" class="img-fluid px-2" alt="">
          </button>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <button class="pb-4 btn w-100 h-100 rounded-4 btn-secondary px-0 btnsSoli" id="btn-solicit-estudante">
            <div class="d-inline-flex container-fluid justify-content-center passesSoli">
              <h6 class="mb-5 mt-1 ms-auto">ESTUDANTE</h6>
              <i class="bi p-0 ms-auto fs-4 active-icon"></i>
            </div>
            <img src="img/passe estudante.png" class="img-fluid px-2" alt="">
          </button>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <button class="pb-4 btn w-100 h-100 rounded-4 btn-secondary px-0 btnsSoli" id="btn-solicit-especial">
            <div class="d-inline-flex container-fluid justify-content-center passesSoli">
              <h6 class="mb-5 mt-1 ms-auto">ESPECIAL</h6>
              <i class="bi p-0 ms-auto fs-4 active-icon"></i>
            </div>
            <img src="img/passe especial.png" class="img-fluid px-2" alt="">
          </button>
        </div>
      </div>
      <form action="" class="row g-3 mt-3" id="forms-endereco">
        <h3 class="text-uppercase mb-3 mt-5">endereco da entrega</h3>
        <div class="col-12 d-inline-flex justify-content-between">
          <input type="text" class="form-control w-50" placeholder="CEP">
          <a href="#" class="my-auto ms-2 w-50 text-decoration-none">Nao lembro o CEP</a>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="endereco">
        </div>
        <div class="col-sm-2 col-4">
          <input type="text" class="form-control" placeholder="N°">
        </div>
        <div class="col-sm-4 col-8">
          <input type="text" class="form-control" placeholder="COMPLEMENTO">
        </div>
        <div class="col-sm-6 col-12">
          <input type="text" class="form-control" placeholder="BAIRRO">
        </div>
        <div class="col-sm-9 col-8">
          <input type="text" class="form-control" placeholder="CIDADE">
        </div>
        <div class="col-sm-3 col-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>ESTADO</option>
            <option value="1">SP</option>
            <option value="2">RJ</option>
            <option value="3">PAIA</option>
          </select>
        </div>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary me-2" id="avancar-solibtn" style="width: fit-content;">avançar</button>
          <button type="button" class="btn btn-secondary" id="btnCancel-soli" style="width: fit-content;">voltar</button>
        </div>
      </form>
    </section>
