
<!-- solicitação passe especial -->
<section class="subpag " id="soli-especial">
  <h3 class="mb-5">FORMULARIO PARA PASSE ESPECIAL</h3>
  <form class="row g-3 ms-3" id="forms-soli-comum">
    <div class="col-8">
      <label class="form-label" for="cpf">CPF</label>
      <input name="cpf" type="number" class="form-control" placeholder="">
    </div>
    <div class="col-8">
      <label class="form-label" for="rg">RG</label>
      <input name="rg" type="number" class="form-control" placeholder="">
    </div>
    <div class="mt-5">
      <button type="submit" class="btn btn-primary me-2" id="solicitar" style="width: fit-content;">solicitar</button>
      <button type="button" class="btn btn-secondary" id="btnCancel-soliespecial" style="width: fit-content;">voltar</button>
    </div>
  </form>
</section>
