<!-- botao -->
<button type="button" id="abrirCadastroDelinhas" class="btn btn-primary">
  Adicionar linha
</button>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" id="createLinhas1" tabindex="-1" aria-labelledby="createLinhas1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <h4 class="modal-title" id="createLinhas1Label">Adicionando linha</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label">Numero da linha</label>
                <input type="text" class="form-control" id="numero_linha" name="numero_linha" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">1° Bairro</label>
              <input type="text" class="form-control" id="bairroOrigem" name="bairroOrigem" required />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">2° Bairro</label>
              <input type="text" class="form-control" id="bairroDestino" name="bairroDestino" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary btnvoltar">
            sair
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" id="createLinhas2" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content moldal-lg">
      <form novalidate id="formhorarios">
        <div class="modal-header border-bottom">
          <h4 class="modal-title d-flex w-100">
            Adicionando linha <span class="ms-auto">2/3</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row row-cols-2 g-3">
            <div class="col-12 d-flex">
              <h5 class="mx-auto mt-3">Crie os Horarios de Saidas do Bairro</h5>
            </div>

            <div class="col-6" id="lista1-horarios">
              <h6>Saida de <span class="bairro1"></span></h6>
              <ul class="list-group">
                <li class="list-group-item p-0 m-0 d-flex add">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="ul1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addhorario1" aria-expanded="true" aria-controls="addhorario1">
                        adicionar um novo horario
                      </button>
                    </h2>
                    <div id="addhorario1" class="accordion-collapse collapse show" aria-labelledby="ul1" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- <div class="mx-auto d-flex" style="width: fit-content"> -->
                        <div class="row">
                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addHora1">horas:
                            </label>

                            <div class="row">
                              <div class="col-8">
                                <input class="form-control py-1 px-2" style="width: fit-content" type="time" id="addHora1" name="addHora1" />
                              </div>
                              <div class="col-4">
                                <button class="btn py-1 px-2 ms-2 btn-success btnadd" type="button">
                                  <i class="bi bi-plus-lg"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addduracao1">Duracao em minutos:
                            </label>
                            <input class="form-control py-1 px-2" type="number" id="addduracao1" name="addduracao1" />
                          </div>
                        </div>

                        <!-- </form> -->
                      </div>
                    </div>
                  </div>

                  <script></script>
                </li>
              </ul>
            </div>

            <div class="col-6" id="lista2-horarios">
              <h6>Saida de <span class="bairro2"></span></h6>

              <ul class="list-group">
                <li class="list-group-item p-0 m-0 d-flex add">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addhorario2" aria-expanded="true" aria-controls="addhorario2">
                        adicionar um novo horario
                      </button>
                    </h2>
                    <div id="addhorario2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- <div class="mx-auto d-flex" style="width: fit-content"> -->
                        <div class="row">
                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addHora2">horas:
                            </label>

                            <div class="row">
                              <div class="col-8">
                                <input class="form-control py-1 px-2" style="width: fit-content" type="time" id="addHora2" name="addHora2" />
                              </div>
                              <div class="col-4">
                                <button class="btn py-1 px-2 ms-2 btn-success btnadd" type="button">
                                  <i class="bi bi-plus-lg"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addduracao2">Duracao em minutos:
                            </label>
                            <input class="form-control py-1 px-2" type="number" id="addduracao2" name="addduracao2" />
                          </div>
                        </div>

                        <!-- </form> -->
                      </div>
                    </div>
                  </div>

                  <script></script>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btnvoltar">
            voltar
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content moldal-lg">
      <form novalidate id="percurso1Form">
        <div class="modal-header border-bottom">
          <h4 class="modal-title d-flex w-100">
            Adicionando linha <span class="ms-auto">3/4</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-1">
            <div class="col-12 d-flex">
              <h5 class="mx-auto mt-3">
                crie o itinerario da saida de <span class="bairro1"></span>
              </h5>
            </div>

            <ul class="list-group">
              <li class="list-group-item" aria-disabled="true">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button p-1" type="button" data-bs-toggle="collapse" data-bs-target="#acordionPercurso1">
                      adicionar um ponto
                    </button>
                  </h2>
                  <div id="acordionPercurso1" class="accordion-collapse collapse show">
                    <div class="accordion-body p-1">
                      <div class="row">
                        <div class="col-12">
                          <label class="m-0 mt-auto form-label pe-3" for="percurso1">ponto:
                          </label>

                          <div class="row">
                            <div class="col-11">
                              <select class="form-select pontos" id="percurso1" name="percurso1">
                                <option selected>Escolha um ponto</option>
                              </select>
                            </div>
                            <div class="col-1 p-0 d-flex">
                              <button class="btn py-1 m-auto px-2 btn-success btnadd" type="button">
                                <i class="bi bi-plus-lg"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnvoltar">
              voltar
            </button>
            <button type="submit" class="btn btn-primary">avançar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content moldal-lg">
      <form novalidate id="percurso2Form">
        <div class="modal-header border-bottom">
          <h4 class="modal-title d-flex w-100">
            Adicionando linha <span class="ms-auto">4/4</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-1">
            <div class="col-12 d-flex">
              <h5 class="mx-auto mt-3">
                crie o itinerario da saida de <span class="bairro2"></span>
              </h5>
            </div>

            <ul class="list-group">
              <li class="list-group-item" aria-disabled="true">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button p-1" type="button" data-bs-toggle="collapse" data-bs-target="#acordionPercurso2">
                      adicionar um ponto
                    </button>
                  </h2>
                  <div id="acordionPercurso2" class="accordion-collapse collapse show">
                    <div class="accordion-body p-1">
                      <div class="row">
                        <div class="col-12">
                          <label class="m-0 mt-auto form-label pe-3" for="percurso2">ponto:
                          </label>

                          <div class="row">
                            <div class="col-11">
                              <select class="form-select pontos" id="percurso2" name="percurso2">
                                <option selected>Escolha um ponto</option>
                              </select>
                            </div>
                            <div class="col-1 p-0 d-flex">
                              <button class="btn py-1 m-auto px-2 btn-success btnadd" type="button">
                                <i class="bi bi-plus-lg"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnvoltar">
              voltar
            </button>
            <button type="submit" class="btn btn-primary">avançar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<script>
  let VALORESFINAL = {}
</script>
<script src="../../js/editLinhasfunction.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", async () => {



    let pontos
    try {

      pontos = (await axios.get("http://localhost:9000/api/linhas/bus-stop")).data
    } catch (error) {
      pontos = []
    }


    document.querySelectorAll("select").forEach((element) => {
      if (element.classList.contains("pontos")) {
        const nescolhido = element.value;
        element.addEventListener("click", () => {
          if (nescolhido !== element.value) {
            element.classList.add("is-valid");
            element.classList.remove("is-invalid");
          } else {
            element.classList.add("is-invalid");
            element.classList.remove("is-valid");
          }
        });

        pontos.forEach((elem) => {
          const option = document.createElement("option");
          option.innerText = elem.endereco;
          option.value = elem.id;
          element.appendChild(option)
        });
      }

    })


    addhorario("lista1-horarios", 1);
    addhorario("lista2-horarios", 2);
    addpercurso(1, "#percurso1Form");
    addpercurso(2, "#percurso2Form");

    formEtapasForms(
      "#abrirCadastroDelinhas",
      async () => {
          try {
            const response = await axios.post(
              "http://localhost:9000/api/linhas",
              VALORESFINAL
            );
            localStorage.setItem(
              "linhasCreate",
              JSON.stringify({
                cor: "success",
                texto: `linha do Numero ${response.data.id} criada!`,
                div: "#alert",
              })
            );

            location.reload();
          } catch (error) {
            console.error(error);
          }
        },
        (formvalidacao) => {
          formvalidacao[0].allvalidacao({
            numero_linha: {
              min: 1,
              max: 4,
              caractereNpermitido: [
                "Nletra",
                "NcaractereEspecial",
                "Nacentuacao",
              ],
              pattern: ["^(\\d{1,4})$", "numero valido", "numero invalido"],
              btnoff: "required",
            },
            bairroDestino: {
              min: 3,
              max: 20,
              caractereNpermitido: ["Nnumber", "NcaractereEspecial"],
              pattern: [
                "(^[a-zA-ZÀ-ÿ0-9\\s'\\-]{3,20}$)",
                "bairro valido",
                "bairro invalido",
              ],
              btnoff: "required",
            },
            bairroOrigem: {
              min: 3,
              max: 20,
              caractereNpermitido: ["Nnumber", "NcaractereEspecial"],
              pattern: [
                "(^[a-zA-ZÀ-ÿ0-9\\s'\\-]{3,20}$)",
                "bairro valido",
                "bairro invalido",
              ],
              btnoff: "required",
            },
          });

          formvalidacao[1].allvalidacao({
            addHora2: {
              min: 5,
              max: 5,
              caractereNpermitido: ["Number", "caractereEspecial"],
              pattern: [
                /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/, // Válido: Formato HH:mm
                "Hora válida",
                "Hora inválida",
              ],
            },
            addduracao2: {
              min: 1,
              max: 500,
              pattern: [".*", "duração valida", "duração invalida"],
            },
            addHora1: {
              min: 5,
              max: 5,
              caractereNpermitido: ["Number", "caractereEspecial"],
              pattern: [
                /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/, // Válido: Formato HH:mm
                "Hora válida",
                "Hora inválida",
              ],
            },
            addduracao1: {
              min: 1,
              max: 500,
              pattern: [".*", "duração valida", "duração invalida"],
            },
          });
        },
        document,
        (indice, instanciaForm) => {
          if (indice == 0) {
            const valuesForm1 = instanciaForm.allValues();


            if (!VALORESFINAL.hasOwnProperty("rota1")) {
              VALORESFINAL = {
                rota1: {
                  bairroOrigem: valuesForm1.bairroOrigem,
                  bairroDestino: valuesForm1.bairroDestino,
                },
                rota2: {
                  bairroOrigem: valuesForm1.bairroDestino,
                  bairroDestino: valuesForm1.bairroOrigem,
                },

                numero_linha: valuesForm1.numero_linha,
              };
            } else {
              VALORESFINAL.rota1.bairroDestino = valuesForm1.bairroOrigem;
              VALORESFINAL.rota1.bairroOrigem = valuesForm1.bairroDestino;
              VALORESFINAL.rota2.bairroDestino = valuesForm1.bairroDestino;
              VALORESFINAL.rota2.bairroOrigem = valuesForm1.bairroOrigem;
              VALORESFINAL.numero_linha = valuesForm1.numero_linha;
            }


            document.querySelectorAll(".bairro1").forEach((elem) => {
              elem.innerHTML = valuesForm1.bairroOrigem;
            })

            document.querySelectorAll(".bairro2").forEach((elem) => {
              elem.innerHTML = valuesForm1.bairroDestino;
            })

          }
        }
    );
  });
</script>