<div class="texto titulo1 d-sm-block d-none  d-flex justify-content-center " style="margin-bottom: 3rem;">

  <h1 class="text-center pt-2 mb-3">Ja adquiriu seu cartâo TECH PASS?</h1>
  <p class="h5 text-center h5">Confira nosso serviços disponiveis para você</p>

</div>



<section class="container " id="sectioncartoes">
  <!-- botoes -->
  <div class="  mx-auto justify-content-center justify-content-sm-between col-10  row gx-1 gy-3 gx-md-3 gx-lg-5" style="margin-bottom: 1rem;" id="botoesmenu">


    <div class="col-sm-4 col-12 ">
      <button type="button" class="btn w-100 shadow-lg cor-botoes rounded-3 px-2 py-lg-5 py-4 " style="background: #6000CF;" id="btnNossosCartoes" data-bs-target="#carouselExample" data-bs-slide-to="0">
        <i class="fa-regular fa-credit-card  text-white h1 "></i>
        <h6 class="text-start mt-2 text-center mb-0 text-white ">NOSSOS </h5>
          <h6 class="text-start mt-0 text-center mb-0 text-white ">CARTÔES</h5>
      </button>
    </div>

    <div class="col-sm-4 col-12 ">
      <button type="button" class="btn w-100  cor-botoes  shadow-lg rounded-3  py-4 py-lg-5 px-2" id="btnRecarregarMeuCartao" data-bs-target="#carouselExample" data-bs-slide-to="1">

        <i class="fa-regular fa-address-card text-start text-white h1 "></i>
        <h6 class="text-start mt-2 text-center mb-0 text-white ">RECARREGAR</h5>
          <h6 class="text-start mt-0 text-center mb-0 text-white  ">MEU CARTÃO</h5>
      </button>
    </div>

    <div class="col-sm-4 col-12 ">
        <button type="button" class="btn w-100  shadow-lg  cor-botoes rounded-3  py-4 py-lg-5 px-2 " id="btnBloquearMeuCartao" data-bs-target="#carouselExample" data-bs-slide-to="2">

          <!-- <i class='bx bxs-lock-alt'></i> -->
          <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
          <!-- <i class="fa-regular fa-address-card text-start text-white h1 "></i> -->
          <h6 class="text-start mt-2 text-center mb-0 text-white ">BLOQUEAR</h5>
            <h6 class="text-start mt-0 text-center mb-0 text-white ">MEU CARTÃO</h5>
        </button>
    </div>
  </div>
  <!-- fim botoes -->




  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- inicio 1subpg  -->
        <div class=" container col-md-10 mx-auto  mt-5 sub align-items-start  flex-column flex-md-row g-lg-5 g-xl-1 gy-4 justify-content-center justify-content-md-between row " id="subNossosCartoes" style=" margin-bottom: 1rem;">

          <div class="col-12">
            <h2 class="text-uppercase my-5">Nossos cartões</h2>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex ">
            <div class=" mx-md-auto btnimgpaias mb-md-4 ">

            </div>

            <h6 class="text-start my-auto ms-3 w-100 ">Escolha o melhor cartão para você</h6>
          </div>

          <div class=" col-md-3 col-12 col-xl-2 flex-row flex-md-column d-flex  ">
            <div class="  mx-auto btnimgpaias mb-md-4 ">

            </div>

            <h6 class="text-start my-auto ms-3 w-100 ">Vá até um ponto de venda físico TechPass e adquira o seu
              cartão</h6>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex ">
            <div class="btnimgpaias mb-md-4 mx-auto">

            </div>

            <h6 class="text-start my-auto ms-3 w-100 ">Faça a primeira recarga na hora e se cadastre no site para
              recarga online</h6>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex  ">
            <div class=" mx-auto mb-4 btnimgpaias">

            </div>

            <h6 class="text-start my-auto w-100 ms-3">Aguarde a confirmação por e-mail e tudo pronto,já pode
              usar seu TechPass!</h6>
          </div>

        </div>
        <!-- fim 1subpg -->
      </div>
      <div class="carousel-item">
        <!-- inico 2subpg -->
        <div class=" container col-10 mx-auto mt-5 sub align-items-start  flex-column flex-md-row g-lg-5 g-xl-1 gy-4 justify-content-center justify-content-md-between row " id="subRecarregarCartoes" style=" margin-bottom: 1rem;">

          <div class="col-12">
            <h2 class="text-uppercase my-5">recarregar meu cartâo</h2>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex ">
            <div class=" mx-md-auto btnimgpaias mb-md-4 ">

            </div>

            <h6 class="text-start my-auto w-100 ms-3  ">Cadastre-se ou faça seu login</h6>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex  ">
            <div class=" mx-auto mb-md-4 btnimgpaias">

            </div>

            <h6 class="text-start my-auto w-100 ms-3">Adicione o cartão que deseja recarregar</h6>
          </div>


          <div class=" col-md-3 col-12 col-xl-2 flex-row flex-md-column d-flex  ">
            <div class="  mx-auto btnimgpaias mb-md-4 ">

            </div>

            <h6 class="text-start my-auto w-100 ms-3  ">Escolha o valor da recarga e a forma de pagamento</h6>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex ">
            <div class=" mx-auto btnimgpaias mb-md-4">

            </div>

            <h6 class="text-start my-auto w-100 ms-3 ">Aguarde a confirmação por e-mail e tudo pronto,já pode
              usar seu TechPass!</h6>
          </div>


        </div>

      </div>

      <div class="carousel-item">

        <div class=" container col-10 mx-auto mt-5 sub align-items-start flex-column flex-md-row  g-lg-5 g-xl-1 gy-4  row " id="subBloquearCartoes" style=" margin-bottom: 1rem;">

          <div class="col-12">
            <h2 class="text-uppercase text-center text-md-start my-5 mx-auto mx-md-0">bloquear meu cartão</h2>
          </div>

          <div class=" col-md-3 col-12 col-xl-2  flex-row flex-md-column d-flex justify-content-center">
            <div class=" mx-md-auto btnimgpaias mb-md-4 text-center">


            </div>

            <h6 class="text-center text-md-start ms-3">Para bloquear o seu cartão entre em
              contato com

              o Whatsapp,<a href="https://api.whatsapp.com/send?phone=5555898878575&text=Ol%C3%A1.">clicando
                aqui.</a>
            </h6>
          </div>





        </div>

      </div>
    </div>
  </div>





</section>