<section class="container ">

  <div class="pb-5">
    <h1 class="text-center pt-2 mb-3">Ja adquiriu seu cartâo TECH PASS?</h1>
    <p class="h5 text-center h5">Confira nosso serviços disponiveis para você</p>
  </div>


  <!-- botoes do carrosel -->

  <div class="row text-center gy-4  g-lg-4  mx-0 " style="min-height: 180px; " id="carrosel_buttons_info">
  
    <div class="col-sm ">
      <div id="backgroundPaioso"></div>
      <button type="button" class="btn w-75 py-4 py-sm  h-100 shadow-lg cor-botoes rounded-3  " style="background: #6000CF; " id="btnNossosCartoes" data-bs-target="#carrosel_info_index" data-bs-slide-to="0">
        <i class="fa-regular fa-credit-card  text-white h1 "></i>
        <h6 class="text-start mt-2 text-center mb-0 text-white ">NOSSOS </h5>
          <h6 class="text-start mt-0 text-center mb-0 text-white ">CARTÔES</h5>
      </button>
    </div>
    <div class="col-sm ">
      <button type="button" class="btn w-75  py-4 py-sm  h-100 shadow-lg cor-botoes rounded-3  " id="btnRecarregarMeuCartao" data-bs-target="#carrosel_info_index" data-bs-slide-to="1">
        <i class="fa-regular fa-address-card text-start text-white h1 "></i>
        <h6 class="text-start mt-2 text-center mb-0 text-white ">RECARREGAR</h5>
          <h6 class="text-start mt-0 text-center mb-0 text-white  ">MEU CARTÃO</h5>
      </button>
    </div>
    <div class="col-sm ">
      <button type="button" class="btn py-4 py-sm h-100  w-75 shadow-lg  cor-botoes rounded-3   " id="btnBloquearMeuCartao" data-bs-target="#carrosel_info_index" data-bs-slide-to="2">
        <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
        <h6 class="text-start mt-2 text-center mb-0 text-white ">BLOQUEAR</h5>
          <h6 class="text-start mt-0 text-center mb-0 text-white ">MEU CARTÃO</h5>
      </button>
    </div>
  </div>

  <div id="carrosel_info_index" class="carousel slide shadow-lg rounded-bottom-3 bg-white w-100 z-1 ">

    <div class="carousel-inner p-5 ">
      <div class="carousel-item active position-relative">
        <h3>Nossos Cartões</h3>
        <div class="row g-5 text-center mt-4 row-cols-1 row-cols-lg-4 row-cols-sm-2 ">
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/melhorCard.svg" class=" " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Escolha o melhor cartão para você</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/pontoDeVenda.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Vá até um ponto de venda físico TechPass e adquira o seu
                cartão</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/primeiraRecarga.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Faça a primeira recarga na hora e se cadastre no site para
                recarga online</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/confirmEmail.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Aguarde a confirmação por e-mail e tudo pronto,já pode
                usar seu TechPass!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <h3>Recarregar meu Cartão</h3>
        <div class="row g-5 text-center mt-4 row-cols-1 row-cols-lg-4 row-cols-sm-2 ">
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/cadastre-se.svg" class=" " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Cadastre-se ou faça seu login</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/addCard.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Adicione o cartão que deseja recarregar</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/escolhaOvalor.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Escolha o valor da recarga e a forma de pagamento</h6>
            </div>
          </div>
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/confirmEmail2.svg" class="img-fluid " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Aguarde a confirmação por e-mail e tudo pronto,já pode
                usar seu TechPass!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <h3>Bloquear meu cartão</h3>
        <div class="row g-5 text-center mt-4 row-cols-1 row-cols-lg-4 row-cols-sm-2 ">
          <div class="col d-flex">
            <div class="w-75 mx-auto">
              <img src="/images/carrosel_index_publico/bloquear.svg" class=" " width="80px" alt="">
              <h6 class="mt-3 text-wrap">Para bloquear o seu cartão entre em
                contato com

                o Whatsapp,<a href="https://api.whatsapp.com/send?phone=5555898878575&text=Ol%C3%A1.">clicando
                  aqui.</a></h6>
            </div>
          </div>

        </div>
      </div>



    </div>

  </div>

</section>