<div style="background-color: #1c2331;">
  <section class=" p-1 align-items-center " style="background-color: #6351ce; height: 26px;"></section>
  <footer class="pt-5 pb-1 container text-white" data-bs-theme="dark" >


    <div class="row">
      <div class="col-5 col-md-2  mb-3">
        <h5>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Cartões TechPass</font>
          </font>
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Cartões TechPass</font>
              </font>
            </a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Rotas e Linhas</font>
              </font>
            </a></li>
        </ul>
      </div>

      <div class="col-7 col-md-3 mb-3">
        <h5>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">SAC</font>
          </font>
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <p  class="nav-link m-0 p-0 text-body-secondary">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"><i class="fas fa-envelope mr-3"></i> sac@techpass.com.br</font>
              </font>
            </p>
          </li>
          <li class="nav-item mb-2">
            <p  class="nav-link m-0 p-0 text-body-secondary">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"><i class="fa-brands fa-whatsapp"></i> (11) 98878-5750</font>
              </font>
            </p>
          </li>
          <li class="nav-item mb-2">
            <p  class="nav-link m-0 p-0 text-body-secondary">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> Endereço: Av. Bahia, 1739 - Indaiá, Caraguatatuba - SP, 11665-071</font>
              </font>
            </p>
          </li>
        </ul>
      </div>

      <div class="col-md-3 offset-md-4 mb-3">

        <h5>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Tech Pass</font>
          </font>
        </h5>
        <p class="nav-link p-0 text-body-secondary">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</font>
          </font>
        </p>

      </div>

    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 pb-2 mb-2 border-top">
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">© 2023 PASSTECH. Todos os direitos reservados.</font>
        </font>
      </p>
      <ul class="list-unstyled d-flex fs-3">
        <!-- <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook  "></i><a></li> -->
        <!-- <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram  "></i></a></li> -->
        <li class="ms-3"><a class="link-body-emphasis" target="_blank" href="https://github.com/flavioifsp/Pj2-G10-Gerenciador_de_Catraca"><i class="bi bi-github "></i></a></li>
  
      </ul>
    </div>
  </footer>
</div>