<style>
  .formas {
    min-height: 20px;
  }
</style>

<!-- FORMAS DE PAGAMENTO -->
<section class="container-fluid " id="iniciopag">

  <div class="container-fluid">
    <div class="container-fluid bg formas bg-dark-subtle rounded"></div>
  </div>

  <button class="btn btn-primary rounded-pill mt-3 btn-addpagamento pamonha ms-5" id="btn-addpagamento">
    adicionar novo
  </button>

</section>
<!-- FORMAS DE PAGAMENTO -->


<!-- adicionar forma  de pagamento-->
<section class="container-fluid h-100 d-none" id="addtipocard">
  <h2 class="text-uppercase">adicionar</h2>
  <div class="mt-4 d-flex flex-row gap-4">
    <BUtton type="button" id="btncredito" class="btn btn-secondary">
      <h5 class="text-uppercase pt-2">cartao de credito</h5>
      <i class="bi bi-credit-card-fill " id="botao-cardcredit"></i>
    </BUtton>

    <BUtton type="button" id="btndebito" class="btn btn-secondary">
      <h5 class="text-uppercase pt-2">cartao de debito</h5>
      <i class="bi bi-credit-card-fill " id="botao-cardcredit"></i>
    </BUtton>
  </div>
</section>

<!-- cadastrar cartao de credito -->

<section class="container-fluid pe-lg-5 d-none" id="formscardcredito">
  <!-- <h2 class="text-uppercase mb-5">adicionar cartão de credito</h2> -->



  <form class="row g-3 ms-1" id="cartão-de-credito">
    <h4 class="text-uppercase mb-3">cartão de credito</h4>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="N° do cartão">
    </div>

    <div class="col-4">
      <input type="text" class="form-control" placeholder="MM/YY">
    </div>

    <div class="col-12">
      <input type="text" class="form-control" placeholder="Nome do Titular">
    </div>


    <h4 class="text-uppercase mb-3 mt-5">endereco da cobrança</h4>

    <div class="col-lg-8 col-sm-10 col-12 d-inline-flex justify-content-between">
      <input type="text" class="form-control w-50" placeholder="CEP">
      <a href="#" class=" my-auto ms-2 w-50">Nao lembro o CEP</a>
    </div>

    <div class="col-12">
      <input type="text" class="form-control" placeholder="endereco">
    </div>

    <div class="col-sm-2 col-4">
      <input type="text" class="form-control" placeholder="N°">
    </div>

    <div class="col-sm-4 col-8">
      <input type="text" class="form-control" placeholder="COMPLEMENTO">
    </div>

    <div class="col-sm-6 col-12">
      <input type="text" class="form-control" placeholder="BAIRRO">
    </div>

    <div class="col-sm-9 col-8">
      <input type="text" class="form-control" placeholder="CIDADE">
    </div>

    <div class="col-sm-3 col-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>ESTADO</option>
        <option value="1">SP</option>
        <option value="2">RJ</option>
        <option value="3">PAIA</option>
      </select>
    </div>


    <div class="mt-5">
      <button type="submit" class="btn  btn-primary me-2" id="confimar" style="width: fit-content;">confimar</button>
      <button type="button" class="btn btn-secondary " id="btn-cancelarcardCRE"
        style="width: fit-content;">cancelar</button>
    </div>
  </form>
</section>


<!-- cadastrar cartão de debito -->
<section class="container-fluid pe-lg-5 d-none" id="formscardDEBITO">
  <!-- <h2 class="text-uppercase mb-5">adicionar cartão de credito</h2> -->



  <form class="row g-3 ms-1" id="cartão-de-DEBITO">
    <h4 class="text-uppercase mb-3">cartão de debito</h4>
    <div class="col-8">
      <input type="text" class="form-control" placeholder="N° do cartão">
    </div>

    <div class="col-4">
      <input type="text" class="form-control" placeholder="MM/YY">
    </div>

    <div class="col-12">
      <input type="text" class="form-control" placeholder="Nome do Titular">
    </div>


    <h4 class="text-uppercase mb-3 mt-5">endereco da cobrança</h4>

    <div class="col-lg-8 col-sm-10 col-12 d-inline-flex justify-content-between">
      <input type="text" class="form-control w-50" placeholder="CEP">
      <a href="#" class=" my-auto ms-2 w-50">Nao lembro o CEP</a>
    </div>

    <div class="col-12">
      <input type="text" class="form-control" placeholder="endereco">
    </div>

    <div class="col-sm-2 col-4">
      <input type="text" class="form-control" placeholder="N°">
    </div>

    <div class="col-sm-4 col-8">
      <input type="text" class="form-control" placeholder="COMPLEMENTO">
    </div>

    <div class="col-sm-6 col-12">
      <input type="text" class="form-control" placeholder="BAIRRO">
    </div>

    <div class="col-sm-9 col-8">
      <input type="text" class="form-control" placeholder="CIDADE">
    </div>

    <div class="col-sm-3 col-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>ESTADO</option>
        <option value="1">SP</option>
        <option value="2">RJ</option>
        <option value="3">PAIA</option>
      </select>
    </div>


    <div class="mt-5">
      <button type="submit" class="btn  btn-primary me-2" id="confimarDEBITO"
        style="width: fit-content;">confimar</button>
      <button type="button" class="btn btn-secondary " id="btn-cancelarcardDEB"
        style="width: fit-content;">cancelar</button>
    </div>
  </form>
</section>