

<h4 class="h4 mb-4">SUAS INFORMAÇÕES</h4>
    <div class="bg-secondary rounded-4 col-lg-10" id="bg-info"></div>
    <form action="" class="ms-3 row">


      <fieldset class="row g-3 mb-5 col-lg-12" disabled>
        <legend class="h5 py-2">NÃO EDITAVEIS</legend>
        <div class="col-12">
          <label class="form-label" for="nome">NOME</label>
          <input class="form-control" type="text" name="nome" id="nome" placeholder="PAIOSO">
        </div>

        <div class="col-12">
          <label class="form-label" for="cpf">CPF</label>
          <input class="form-control" type="number" name="cpf" id="cpf" placeholder="123.456.789-05">
        </div>

    
      </fieldset>


      <fieldset class="row mb-5 g-3 col-lg-12" disabled>
        <legend class="h5">EDITAVEIS</legend>

        <div class=" col-12">
          <label class="form-label" for="email">EMAIL</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="paiosocabral@gmail.com">
        </div>

        <div class="col-12 col-sm-6">
          <label class="form-label" for="cell">TELEFONE</label>
          <input class="form-control" type="number" name="cell" id="cell" placeholder="123456798">  
        </div>

        <div class="col-12 col-sm-6 ">
          <label class="form-label" for="senha">SENHA</label>
          <input class="form-control" type="password" name="senha" id="senha" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;">
        </div>

      </fieldset>

      <div class="col-lg-12 d-inline-flex">
        <button type="submit" class="btn  btn-primary me-2 "  id="avancar-solibtn" style="width: fit-content;">SALVAR</button>
        <button type="button" class="btn btn-secondary" id="btnCancel-soli" style="width: fit-content;">voltar</button>

        <button type="submit" class="btn btn-primary ms-auto " style="width: fit-content;">EDITAR</button>
      </div>
    </form>
