<h2>ERRO DE LEITURA</h2>
<div class="text-start pt-3">
    <h3>encoste o cartao novamente</h1>
</div>

<script>
    setTimeout(() => {
        location.href = document.referrer
    }, 3000);
</script>