<h1 class="mb-2">aproxime o cartão</h1>
<div id="relogio"></div>


<form id="formpaia" method="get" action="/catraca">
  <input class=" w-25 position-absolute top-0" type="text" name="idCard" id="idCard">
</form>





<script>
  const relogio = () => {
    document.getElementById('relogio').textContent = `Data: ${new Date().toLocaleDateString() } | Hora: ${ new Date().toLocaleTimeString()}`;
  }
  // Atualizar o relógio a cada segundo
  setInterval(relogio, 500);
  relogio()




  const input = document.querySelector("input")

  input.focus()
  document.addEventListener("click", () => {
    input.focus()
  })

  // document.querySelector("form").addEventListener("submit", async (evt) => {
  //   evt.preventDefault()

  //   try {

  //   } catch (error) {

  //   }


  // })
</script>