<h1 class="mb-2">aproxime o cartão</h1>
<div id="relogio"></div>


<form id="formpaia">
  <input style="margin-top: -2000px;" class=" w-25 position-absolute top-0" type="text" name="idCard" id="idCard">
</form>





<script>
  const relogio = () => {
    document.getElementById('relogio').textContent = `Data: ${new Date().toLocaleDateString() } | Hora: ${ new Date().toLocaleTimeString()}`;
  }
  // Atualizar o relógio a cada segundo
  setInterval(relogio, 500);
  relogio()




  const input = document.querySelector("input")

  input.focus()
  document.addEventListener("click", () => {
    input.focus()
  })

  document.querySelector("form").addEventListener("submit", async (evt) => {
    evt.preventDefault()

    try {
      const {data, status} = await axios.get(`http://localhost:9000/api/catraca/inicio/${<%=linha%>}/${input.value}`)

      if (data.code === "P2025") throw "cliente não encontrado"




      const {
        clientes: {
          nome,
          saldo
        },
        tipos_de_cartao: {
          tarifa,
          modalidade
        }
      } = data
      location.href = `/catraca/success/?nome=${nome}&tarifa=${tarifa}&modalidade=${modalidade}&saldo=${saldo}`


    } catch ({
      response
    }) {


      // saldo insuficiente
      if (response && response.status === 402) {
        const {
          saldo,
          tarifa
        } = response.data
        return location.href = `/catraca/saldoOff/?tarifa=${tarifa}&saldo=${encodeURIComponent(saldo)}`
      }


      // erro de leitura
      location.href = "/catraca/erro"


    }


  })
</script>