<script>
    let saldo = 1
    let tarifa = 5
</script>

<h2 class="text-white">SALDO INSUFICIENTE</h2>
<div class="text-start text-white pt-3">
    <h4>saldo disponivel: R$<%=saldo%></h4>
    <h4>saldo necessario: R$<%=tarifa%></h4>
</div>
