<script>
    let saldo = 1
    let tarifa = 5
</script>

<h2 class="text-white">SALDO INSUFICIENTE</h2>
<div class="text-start text-white pt-3">
    <h4>saldo disponivel: R$ 0,00</h4>
    <h4>saldo necessario: R$ 5,00</h4>
</div>


<script>
    setTimeout(() => {
        location.href = document.referrer
    }, 3000);
</script>