<!-- botao -->
<button type="button" id="abrirCadastroDelinhas" class="btn btn-primary">
  Adicionar linha
</button>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" id="createLinhas1" tabindex="-1" aria-labelledby="createLinhas1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <h4 class="modal-title" id="createLinhas1Label">Adicionando linha</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label">Numero da linha</label>
                <input type="text" class="form-control" id="numero_linha" name="numero_linha" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">1° Bairro</label>
              <input type="text" class="form-control" id="bairroOrigem" name="bairroOrigem" required />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">2° Bairro</label>
              <input type="text" class="form-control" id="bairroDestino" name="bairroDestino" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary btnvoltar">
            sair
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" id="createLinhas2" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content moldal-lg">
      <form novalidate id="formhorarios">
        <div class="modal-header border-bottom">
          <h4 class="modal-title d-flex w-100">
            Adicionando linha <span class="ms-auto">2/3</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row row-cols-2 g-3">
            <div class="col-12 d-flex">
              <h5 class="mx-auto mt-3">Crie os Horarios de Saidas do Bairro</h5>
            </div>

            <div class="col-6" id="lista1-horarios">
              <h6>Saida de <span id="bairro1"></span></h6>
              <ul class="list-group">
                <li class="list-group-item p-0 m-0 d-flex add">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="ul1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addhorario1" aria-expanded="true" aria-controls="addhorario1">
                        adicionar um novo horario
                      </button>
                    </h2>
                    <div id="addhorario1" class="accordion-collapse collapse show" aria-labelledby="ul1" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- <div class="mx-auto d-flex" style="width: fit-content"> -->
                        <div class="row">
                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addHora1">horas:
                            </label>

                            <div class="row">
                              <div class="col-8">
                                <input class="form-control py-1 px-2" style="width: fit-content" type="time" id="addHora1" name="addHora1" />
                              </div>
                              <div class="col-4">
                                <button class="btn py-1 px-2 ms-2 btn-success btnadd" type="button">
                                  <i class="bi bi-plus-lg"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addduracao1">Duracao em minutos:
                            </label>
                            <input class="form-control py-1 px-2" type="number" id="addduracao1" name="addduracao1" />
                          </div>
                        </div>

                        <!-- </form> -->
                      </div>
                    </div>
                  </div>

                  <script></script>
                </li>
              </ul>
            </div>

            <div class="col-6" id="lista2-horarios">
              <h6>Saida de <span id="bairro2"></span></h6>

              <ul class="list-group">
                <li class="list-group-item p-0 m-0 d-flex add">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addhorario2" aria-expanded="true" aria-controls="addhorario2">
                        adicionar um novo horario
                      </button>
                    </h2>
                    <div id="addhorario2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <!-- <div class="mx-auto d-flex" style="width: fit-content"> -->
                        <div class="row">
                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addHora2">horas:
                            </label>

                            <div class="row">
                              <div class="col-8">
                                <input class="form-control py-1 px-2" style="width: fit-content" type="time" id="addHora2" name="addHora2" />
                              </div>
                              <div class="col-4">
                                <button class="btn py-1 px-2 ms-2 btn-success btnadd" type="button">
                                  <i class="bi bi-plus-lg"></i>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <label class="m-0 mt-auto form-label pe-3" for="addduracao2">Duracao em minutos:
                            </label>
                            <input class="form-control py-1 px-2" type="number" id="addduracao2" name="addduracao2" />
                          </div>
                        </div>

                        <!-- </form> -->
                      </div>
                    </div>
                  </div>

                  <script></script>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btnvoltar">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal-open modalForm" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content moldal-lg">
      <form novalidate>
        <div class="modal-header border-bottom">
          <h4 class="modal-title d-flex w-100">
            Adicionando linha <span class="ms-auto">3/4</span>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-3">
            <div class="col-12 d-flex">
              <h5 class="mx-auto mt-3">
                crie o percurso da saida de <span>\</span>
              </h5>
            </div>

            <ul class="list-group">
              <li class="list-group-item" aria-disabled="true">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#percurso1">
                      adicionar um ponto
                    </button>
                  </h2>
                  <div id="percurso1" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col-12">
                          <label class="m-0 mt-auto form-label pe-3" for="addHora2">horas:
                          </label>

                          <div class="row">
                            <div class="col-8">
                              <input class="form-control py-1 px-2" style="width: fit-content" type="time" id="addHora2" name="addHora2" />
                            </div>
                            <div class="col-4">
                              <button class="btn py-1 px-2 ms-2 btn-success btnadd" type="button">
                                <i class="bi bi-plus-lg"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btnvoltar">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">avançar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let VALORESFINAL;
  document.addEventListener("DOMContentLoaded", () => {
    function addhorario(listaID, n, form = "#formhorarios") {
      const divPaiLista = document.querySelector(`#${listaID}`);
      const lista = divPaiLista.querySelector("ul");

      const objHoras = [];

      function guardarObjNoForm(obj) {
        VALORESFINAL[`rota${n}`].horarios = obj;
      }

      function addLi(horas, duracao, indice) {
        const li = document.createElement("li");
        li.classList.add("list-group-item", "d-flex");
        li.innerHTML = `
        <p class="my-auto p-0 m-0">${horas} | Duracao: ${duracao}m</p>
        <div class="list-group ms-auto list-group-horizontal">
  
          <button type="button" class="excluir btn border ms-auto py-0 px-2">
            <i class="bi bi-x-lg text-danger"></i>
          </button>
        </div> 
        `;

        li.querySelector(".excluir").addEventListener("click", () => {
          const ul = li.parentNode.children;
          for (const indice in ul) {
            if (ul[indice] == li) {
              objHoras.splice(indice, 1);
            }
          }
          li.remove();
          guardarObjNoForm(objHoras);
        });

        lista.insertBefore(li, lista.children[indice]);
        // <button class="subir  list-group-item list-group-item-action py-0 px-2"><i class="bi bi-arrow-up"></i></button>
        // <button class="descer  list-group-item list-group-item-action py-0 px-2"><i class="bi bi-arrow-down"></i></button>
      }

      lista.querySelectorAll("button").forEach((e) => {
        e.addEventListener("click", (evt) => {
          if (e.classList.contains("btnadd")) {
            let inputhoras = lista.querySelector("#addHora" + n),
              inputduracao = lista.querySelector("#addduracao" + n);
            if (
              inputduracao.classList.contains("is-valid") &&
              inputhoras.classList.contains("is-valid")
            ) {
              const duracao = inputduracao.value,
                horas = inputhoras.value;

              const horarioSaida = {
                horas: new Date(`2000-01-01T${horas}`),
                duracao,
              };

              objHoras.push(horarioSaida);
              objHoras.sort((a, b) => {
                return b.horas - a.horas; // Isso ordenará as datas em ordem decrescente
              });

              for (const i in objHoras) {
                if (objHoras[i] === horarioSaida) {
                  setTimeout(() => {
                    addLi(horas, duracao, i);
                  }, 500);

                  break;
                }
              }

              inputhoras.value = "";
              inputduracao.value = "";

              inputhoras.classList.remove("is-valid");
              inputduracao.classList.remove("is-valid");

              const bsCollapse = new bootstrap.Collapse("#addhorario" + n);
              bsCollapse.hide();
            } else {
              evt.stopPropagation();
              inputhoras.focus();
              inputhoras.blur();
              inputduracao.focus();
              inputduracao.blur();
            }
          }
          guardarObjNoForm(objHoras);
        });
      });
    }

    addhorario("lista1-horarios", 1);
    addhorario("lista2-horarios", 2);

    formEtapasForms(
      "#abrirCadastroDelinhas",
      async (dataValues) => {
          try {
            const response = await axios.post(
              "http://localhost:9000/api/userADM/atendente",
              dataValues
            );
            localStorage.setItem(
              "AtendenteCreate",
              JSON.stringify({
                cor: "success",
                texto: `Atendente ${response.data.username} adicionada(o)`,
                div: "#alert",
              })
            );

            location.reload();
          } catch (error) {
            console.error(error);
          }
        },
        (formvalidacao) => {
          formvalidacao[0].allvalidacao({
            numero_linha: {
              min: 1,
              max: 4,
              caractereNpermitido: [
                "Nletra",
                "NcaractereEspecial",
                "Nacentuacao",
              ],
              pattern: ["^(\\d{1,4})$", "numero valido", "numero invalido"],
              btnoff: "required",
            },
            bairroDestino: {
              min: 3,
              max: 20,
              caractereNpermitido: ["Nnumber", "NcaractereEspecial"],
              pattern: [
                "(^[a-zA-ZÀ-ÿ0-9\\s'\\-]{3,20}$)",
                "bairro valido",
                "bairro invalido",
              ],
              btnoff: "required",
            },
            bairroOrigem: {
              min: 3,
              max: 20,
              caractereNpermitido: ["Nnumber", "NcaractereEspecial"],
              pattern: [
                "(^[a-zA-ZÀ-ÿ0-9\\s'\\-]{3,20}$)",
                "bairro valido",
                "bairro invalido",
              ],
              btnoff: "required",
            },
          });

          formvalidacao[1].allvalidacao({
            addHora2: {
              min: 5,
              max: 5,
              caractereNpermitido: ["Number", "caractereEspecial"],
              pattern: [
                /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/, // Válido: Formato HH:mm
                "Hora válida",
                "Hora inválida",
              ],
            },
            addduracao2: {
              min: 1,
              max: 500,
              pattern: [".*", "duração valida", "duração invalida"],
            },
            addHora1: {
              min: 5,
              max: 5,
              caractereNpermitido: ["Number", "caractereEspecial"],
              pattern: [
                /^([01]?[0-9]|2[0-3]):[0-5][0-9]$/, // Válido: Formato HH:mm
                "Hora válida",
                "Hora inválida",
              ],
            },
            addduracao1: {
              min: 1,
              max: 500,
              pattern: [".*", "duração valida", "duração invalida"],
            },
          });
        },
        document,
        (indice, instanciaForm) => {
          if (indice == 0) {
            const valuesForm1 = instanciaForm.allValues();

            if (!VALORESFINAL) {
              VALORESFINAL = {
                rota1: {
                  bairroOrigem: valuesForm1.bairroOrigem,
                  bairroDestino: valuesForm1.bairroDestino,
                },
                rota2: {
                  bairroOrigem: valuesForm1.bairroDestino,
                  bairroDestino: valuesForm1.bairroOrigem,
                },

                numero_linha: valuesForm1.numero_linha,
              };
            } else {
              VALORESFINAL.rota1.bairroDestino = valuesForm1.bairroOrigem;
              VALORESFINAL.rota1.bairroOrigem = valuesForm1.bairroDestino;
              VALORESFINAL.rota2.bairroDestino = valuesForm1.bairroDestino;
              VALORESFINAL.rota2.bairroOrigem = valuesForm1.bairroOrigem;
              VALORESFINAL.numero_linha = valuesForm1.numero_linha;
            }

            document.querySelector("#bairro1").innerHTML =
              valuesForm1.bairroOrigem;
            document.querySelector("#bairro2").innerHTML =
              valuesForm1.bairroDestino;
          }
        }
    );
  });
</script>