<!-- botao -->
<button type="button" id="abrirCadastroDelinhas" class="btn btn-primary">
  Adicionar linha
</button>

<!-- modal para criar um ponto de onibus -->
<div
  class="modal fade"
  id="createLinhas1"
  tabindex="-1"
  aria-labelledby="createLinhas1Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate id="formspontodeonibus">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createLinhas1Label">
            Adicionando linha
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label"
                  >Numero da linha</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numero_linha"
                  name="numero_linha"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">1° Bairro</label>
              <input
                type="text"
                class="form-control"
                id="bairroDestino"
                name="bairroDestino"
                required
              />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">2° Bairro</label>
              <input
                type="text"
                class="form-control"
                id="bairroOrigem"
                name="bairroOrigem"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btnvoltar"
            data-paia="1"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div
  class="modal fade"
  id="createLinhas2"
  tabindex="-1"
  aria-labelledby="createLinhas2Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate id="formspontodeonibus">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Adicionando linha</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label"
                  >Numerfsdfdso PAIOSO da linha</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="numero_linha"
                  name="numero_linha"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">1° Bairro</label>
              <input
                type="text"
                class="form-control"
                id="bairroDestino"
                name="bairroDestino"
                required
              />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">2° Bairro</label>
              <input
                type="text"
                class="form-control"
                id="bairroOrigem"
                name="bairroOrigem"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btnvoltar"
            data-paia="2"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  class ModalParteForms {
    constructor(idModal) {
      this.modal = document.querySelector(idModal);
      this.Validforms = new Inputs("form");
      this.form = this.Validforms.forms;
      this.ModalInsta = new bootstrap.Modal(this.modal);
    }

    allvalidacao(objComAsValidacoes) {
      this.Validforms.allvalidacao(objComAsValidacoes);
    }

    fecharModal() {
      this.ModalInsta.hide();
    }

    abrirModal(modalAnterior = null) {
      if (modalAnterior) {
        modalAnterior.modal.addEventListener("hidden.bs.modal", () => {
          this.ModalInsta.show();
        });
      } else {
        this.ModalInsta.show();
      }
    }

    avancarForm(modalProximo, objMap, callback = () => {}) {
      // this.modal.addEventListener("submit", (evt) => {
      evt.preventDefault();

      callback();

      this.guardarValues(objMap);
      modalProximo.abrirModal({
        modal: this.modal,
      });
      this.fecharModal();

      // });
    }

    voltarForm(modalAnterior, callback = () => {}) {
      // const btnvoltar = this.modal.querySelector(".btnvoltar");

      // btnvoltar.addEventListener("click", () => {
      // objMap.forEach((elem) => {
      //   this.Validforms.inputs(() => {

      //   })
      // })

      callback();

      if (modalAnterior) modalAnterior.abrirModal(this);
      this.fecharModal();

      // });
    }

    guardarValues(objMap) {
      this.Validforms.inputs((input) => {
        const { name, value } = input;

        objMap.set(name, value);
      });
    }
  }

  function paginas(...modalsForm) {
    document.addEventListener("DOMContentLoaded", () => {
      
      document
        .querySelector("#abrirCadastroDelinhas")
        .setAttribute("onclick", `paginacao.next()`);
      modalsForm.forEach((element) => {
        element.modal
          .querySelector(".btnvoltar")
          .setAttribute("onclick", `paginacao.next("<")`);
        element.modal
          .querySelector('button[type="submit"]')
          .setAttribute("onclick", `paginacao.next(">")`);
      });
    });
    infos = new Map();

    return (function* () {
      for (paginaAtual = 0; paginaAtual <= modalsForm.length; ) {
        const FormAtual = modalsForm[paginaAtual];

        let curso

        console.log(curso)
        if (curso == ">") {
          const FormProximo = modalsForm[paginaAtual + 1];
          formAtual.avancarForm(modalProximo, infos, () => {
            paginaAtual++;
          });
        } else if (curso == "<") {
          console.log("b")

          const FormAnterior = modalsForm[paginaAtual - 1] || null;
          formAtual.voltarForm(FormAnterior, () => {
            paginaAtual--;
          });
        } else {
          FormAtual.abrirModal();
        }

        curso = yield
      }
    }())
  }

  const formParte1 = new ModalParteForms("#createLinhas1");
  const formParte2 = new ModalParteForms("#createLinhas2");

  const paginacao = paginas(formParte1, formParte2);
</script>
