<!-- botao -->
<button type="button" id="abrirCadastroDelinhas" class="btn btn-primary">
  Adicionar linha
</button>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm inicio" id="createLinhas1" tabindex="-1" aria-labelledby="createLinhas1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createLinhas1Label">
            Adicionando linha
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label">Numero da linha</label>
                <input type="text" class="form-control" id="numero_linha" name="numero_linha" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">1° Bairro</label>
              <input type="text" class="form-control" id="bairroDestino" name="bairroDestino" required />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">2° Bairro</label>
              <input type="text" class="form-control" id="bairroOrigem" name="bairroOrigem" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary btnvoltar">
            sair
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal para criar um ponto de onibus -->
<div class="modal fade modalForm" id="createLinhas2" tabindex="-1" aria-labelledby="createLinhas2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <h1 class="modal-title fs-5">Adicionando linha</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="row ps-1">
              <div class="col-md-4 col-9">
                <label for="numero_linha" class="form-label">Numerfsdfdso PAIOSO da linha</label>
                <input type="text" class="form-control" id="numero_linha" name="numero_linha" required />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroDestino" class="form-label">1° Bairro</label>
              <input type="text" class="form-control" id="bairroDestino" name="bairroDestino" required />
            </div>
            <div class="col-md-6 col-12">
              <label for="bairroOrigem" class="form-label">2° Bairro</label>
              <input type="text" class="form-control" id="bairroOrigem" name="bairroOrigem" required />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btnvoltar">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">avançar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // criando os modals e outras coisas
    const modalsBoostrap = [];
    const formvalidacao = [];
    let ultimoFechado;
    const dataValues = new Map();

    document.querySelectorAll(".modalForm").forEach((elem, indice) => {

      // definindo as instancias dos modals e jogando para um array
      const modalAtual = new bootstrap.Modal(elem);
      const formAtual = new Inputs(elem.querySelector("form"));
      modalsBoostrap.push(modalAtual);
      formvalidacao.push(formAtual)

      // definir o primeiro modal no indice
      if (indice == 0) {
        ultimoFechado = indice;
      }

      // voltar para o modal anterior ou apenas ocultar se for o primeiro modal
      const voltar = elem.querySelector(".btnvoltar");
      if (voltar) {
        voltar.addEventListener("click", () => {
          modalAtual.hide();

          if (indice > 0) {
            elem.addEventListener("hidden.bs.modal", (evt) => {
              modalsBoostrap[indice - 1].show();
            });
          }
        });
      }

      //avancar para a proxima ou enivar para o servidor se for o ultimo modal 
      formAtual.forms.addEventListener("submit", (evt) => {
        evt.preventDefault();

        modalAtual.hide();

        elem.addEventListener("hidden.bs.modal", (evt) => {
          formAtual.inputs(({ name, values }) => {
            dataValues.set(name, values);
          });

          if (indice == document.querySelectorAll(".modalForm").length - 1) {
            // enviar para o servidor

            
          } else {
            // avancar de pagina
            modalsBoostrap[indice + 1].show();
          }
        });
      });
    });

    // evento click que abre o modal que foi fechado por ultimo ou o primeiro
    document
      .querySelector("#abrirCadastroDelinhas")
      .addEventListener("click", () => {
        modalsBoostrap[ultimoFechado].show();
      });
  });
</script>
