
<!-- recarregar -->
<section class="subpag " id="recarregar">
  <form action="" class="row g-5 ms-2">
    <legend class="ps-0 h2">RECARGA</legend>
    <fieldset class="mxauto" style="width: fit-content;">
      <legend class="h4 mb-3">ESCOLHA O CARTÃO</legend>
      <div class="ms-2">
        <button type="button" class="btn pt-0 align-items-center pb-4 btn-secondary d-flex flex-column"
          style="width: 110px;">
          <h6 class="text-uppercase pt-2 pb-3">adicionar</h6>
          <img src="img/passe comum.png" class="img-fluid mt-auto" alt="">
        </button>
      </div>
    </fieldset>
    <fieldset class="">
      <legend class="h4 col-12 mb-3">MÉTODO DE PAGAMENTO</legend>
      <div class="d-inline-flex gap-3 ms-2">
        <button type="button" class="btn btn-primary py-2" style="width: 110px;">
          <h5>PIX</h5>
          <img src="img/icons8-pix-48.png" alt="">
        </button>
        <button type="button" class="btn btn-secondary d-flex flex-column align-items-center"
          style="width: 110px;">
          <h6 class="text-uppercase pt-2">adicionar</h6>
          <i class="bi bi-credit-card-fill h1"></i>
        </button>
      </div>
    </fieldset>
    <div class="col-6">
      <label class="form-label h6" for="valor">
        <h4>VALOR DA RECARGA</h4>
      </label>
      <input type="number" name="valor" id="" class="form-control" placeholder="R$: 00,00">
    </div>
    <div class="mt-5">
      <button type="submit" class="btn btn-primary me-2" id="solicitar" style="width: fit-content;">RECARREGAR</button>
      <button type="button" class="btn btn-secondary" id="btnCancel-recarga" style="width: fit-content;">cancelar</button>
    </div>
  </form>
</section>
