<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>erro</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

</head>

<body class="bg-dark d-flex vh-100">


    <main class="m-auto px-2 py-3  row  rounded-4" style="width: 90vh; background-color: rgb(145 12 12);">
        <div class="col-12 text-white">
            <h3 class=" ">Puts, ocorreu um erro</h3>
            <p class="mt-3 mb-1"><%= msg%></p>
        </div>
        <div class="col-12  " >
            <img src="https://http.cat/<%=statuscode%>" class="fluid-img p-0 m-0 w-100 rounded-1">
        </div>

        
    </main>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>