<div class="modal fade " data-bs-theme="dark" tabindex="-1" id="modalerro" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content   text-white">
      <div class="modal-header border-secondary">
        <h4 class="modal-title">Puts, ocorreu um erro</h4>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div>
          <p class="fs-5 mb-3 ">Algumas informações estarão indisponiveis</p>


          <div class="accordion accordion-flush " id="acordeao-detalhar-erro">
            <div class="accordion-item">
              <h2 class="accordion-header ">
                <button class="accordion-button collapsed bg-dark-subtle border  border-bottom-0 rounded-top-1 px-3 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#acordeao-detalhar-erro_conteudo" aria-expanded="false" aria-controls="acordeao-detalhar-erro_conteudo" style="width: 190px;">detalhe do
                  erro </button>
              </h2>
              <div id="acordeao-detalhar-erro_conteudo" class="accordion-collapse collapse" data-bs-parent="#acordeao-detalhar-erro">
                <div class="accordion-body bg-dark-subtle rounded-1" id="msgErro"></div>
              </div>
            </div>
          </div>
        </div>
   
        <img id="imgErro" class="fluid-img p-0 m-0 w-100 rounded-1">

      </div>
       
    </div>
  </div>
</div>

<script>
  const modalerro = new bootstrap.Modal('#modalerro')
 
  

  <%
    if(er){
      let statuscode = 500
      let msg = er
      if (er.response != undefined) {
        statuscode = er.response.status
        msg = er.response.data
      }

      %>
        const erCode = <%=statuscode%>
        const msgEr = `<%-msg%>`
      <%
    }
  %>
   
  
    if(typeof erCode   !== 'undefined'){
      document.querySelector("#msgErro").innerHTML = msgEr
      document.querySelector("#imgErro").src= `https://http.cat/${erCode}`
      modalerro.show()  
    }
  
</script>      