<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML /Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-/admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="pt-br"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>TechPass ADM</title>

    <meta name="description" content="" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="/adm/assets/img/icon/logoicon.png"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/adm/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="/adm/assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="/adm/assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="/adm/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="/adm/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- custom  -->
    <script src="../js/criarFuncaoModal.js"></script>
    <script src="../js/validacao.js"></script>
    <script src="../js/FormModalEtapas.js"></script>
    <script src="../js/alert.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />

    <link
      rel="stylesheet"
      href="/adm/assets/vendor/libs/apex-charts/apex-charts.css"
    />

    <link rel="stylesheet" href="/style/table.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/adm/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/adm/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div class="app-brand demo mt-3">
            <a href="/adm" class="app-brand-link">
              <img src="/images/Logo.png" alt="" />
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Home</span>
            </li>

            <!-- Dashboard -->
            <li class="menu-item" id="menuDashboard">
              <a href="/adm" class="menu-link">
                <i class="bar-chart-square tf-icons bx bx-bar-chart-square"></i>

                <div data-i18n="Analytics ">Dasboard</div>
              </a>
            </li>

            <!-- Forms & Tables -->

            <!-- Forms -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Funcionarios</span>
            </li>
            <li class="menu-item mb-2" id="menuAtendente">
              <a href="/adm/atendente" class="menu-link">
                <i class="bx bxs-user-detail"></i>
                <div data-i18n="Form Elements" class="ps-2">Atendentes</div>
              </a>
            </li>

            <li class="menu-item mb-2" id="menuMotorista">
              <a href="/adm/motorista" class="menu-link">
                <i class="bx bx-id-card"></i>
                <div data-i18n="Form Elements" class="ps-2">Motoristas</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Clientes</span>
            </li>

            <!-- Forms -->
            <li class="menu-item mb-2" id="menuPassageiros">
              <a href="/adm/passageiros" class="menu-link">
                <i class="bx bxs-group"></i>
                <div data-i18n="Form Elements" class="ps-2">Passageiros</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Lojas</span>
            </li>

            <li class="menu-item mb-2" id="menuLojas">
              <a href="/adm/lojas" class="menu-link">
                <i class="bx bxs-store-alt"></i>
                <div data-i18n="Form Elements" class="ps-2">Lojas</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Linhas</span>
            </li>

            <li class="menu-item mb-2" id="menuLinhas">
              <a href="/adm/linhas" class="menu-link">
                <i class="transfer tf-transfer bx bx-transfer"></i>
                <div data-i18n="Form Elements" class="ps-2">Linhas</div>
              </a>
            </li>

            <li class="menu-item mb-2" id="menuOnibus">
              <a href="/adm/onibus" class="menu-link">
                <i class="bx bx-bus"></i>
                <div data-i18n="Form Elements" class="ps-2">Ônibus</div>
              </a>
            </li>

            <li class="menu-item mb-2" id="menuPontoDeOnibus">
              <a href="/adm/pontoDeOnibus" class="menu-link">
                <i class="bx bx-location-plus"></i>
                <div data-i18n="Form Elements" class="ps-2">
                  Pontos De Ônibus
                </div>
              </a>
            </li>
          </ul>
        </aside>

        <script>
          document.querySelector("<%=cont%>").classList.add("active");
        </script>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                    style="background-color: rgb(255, 255, 255)"
                  >
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img
                            src="/adm/assets/img/avatars/1.png"
                            alt
                            class="w-px-40 h-auto rounded-circle"
                          />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">John Doe</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>

                  <!--/ User -->
                </div>
              </div>

              <div
                class="navbar-nav-right d-flex align-items-center justify-content-end"
                id="navbar-collapse"
              >
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                  <div class="nav-item d-flex align-items-center">
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </div>
                </div>
                <!-- /Search -->
              </div>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <%- body %>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div
                class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
              >
                <div class="mb-2 mb-md-0"></div>
                <div>
                  <p>
                    template base criador por
                    <a href="https://themeselection.com/">ThemeSelection</a>
                  </p>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {

        const tabela = document.querySelector(".table")
        const ColNoOrden = JSON.parse( tabela.getAttribute("data-ColNoOrden")) || 3
        console.log(ColNoOrden);

        new DataTable(tabela, {
          language: {
            url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json",
          },
          columnDefs: [{ orderable: false, targets: ColNoOrden }],
        });
      });

    </script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/adm/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/adm/assets/vendor/libs/popper/popper.js"></script>
    <script src="/adm/assets/vendor/js/bootstrap.js"></script>
    <script src="/adm/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/adm/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/adm/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/adm/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/adm/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>
