
  <!-- FORMAS DE PAGAMENTO -->
  <section class="container-fluid " id="iniciopag">
    <div class="container-fluid">
      <div class="container-fluid bg formas bg-dark-subtle rounded"></div>
    </div>
    <button class="btn btn-primary rounded-pill mt-3  pamonha ms-5" id="btn-addpagamento">
      adicionar novo
    </button>
  </section>
  <!-- FORMAS DE PAGAMENTO -->




<script>
  AlternarDePag("btn-addpagamento", "payment", "addtipocard")

  
</script>