
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




main{ 
    height: 900px;
}

main a{
    text-decoration: none;
    color: blue;
}



main nav li > a{
    text-transform: capitalize;
    font-weight: 800;
    
}

main nav li{
    width: 100%;
    
}

#info{
    min-height: 70%;
    min-width: 100%;
      
}



main nav {
    width: 260px;
}



#menuV{
    width: 100% !important;
}

#nomefoco{
    text-transform: uppercase;
}

@media (max-width: 765px){

    main nav {
        left: 1rem;
        top: 0.2rem;
        position: absolute !important;
        height: fit-content;

        width: fit-content;
    }

    #menuV{
        max-width: 80%;
    }


}

