
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html{
    height: 100%;
}

main{
    height: 96%;
}

a{
    text-decoration: none;
    color: blue;
}

header{
    
    height: 3rem;
}

nav li > a{
    text-transform: capitalize;
    font-weight: 800;
    
}

nav li{
    width: 100%;
    
}



nav {
    
    height: 100%;
    width: calc( (50% - 25vw) + 200px );
}



#menuV{
    width: 100% !important;
}

#nomefoco{
    text-transform: uppercase;
}

@media (max-width: 765px){

    nav {
        left: 1rem;
        top: 0.2rem;
        position: absolute !important;
        height: fit-content;

        width: fit-content;
    }

    #menuV{
        max-width: 80%;
    }


}

@media (max-width: 576px){
    main{
        height: max-content;
    }
}


@media (max-height: 783px){
    main{
        height: max-content;
    }
}