<h4 class="mb-4">Informaçôes Pessoais</h4>
<form class="needs-validation" novalidate="" id="formsPATCHuser">
  <div class="row g-3">
    <!-- <div class="col-12">
      <label for="Nome" class="form-label">Nome Completo </label>
      <input type="text" class="form-control" id="email" >
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div> -->

    <div class="col-12">
      <label for="username" class="form-label">Username</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="username" name="username" />
        <div class="invalid-feedback">Your username is required.</div>
      </div>
    </div>

    <!-- <div class="col-sm-8 ">
      <label for="CPF" class="form-label">CPF</label>
      <input type="text" class="form-control" id="CPF" placeholder="" value="" required="">
      <div class="invalid-feedback">
        Valid CPF is required.
      </div>
    </div> -->

    <!-- <div class="col-sm-4 col-5">
      <label for="nasc" class="form-label">Nascimento</label>
      <input type="date" class="form-control" id="nasc" placeholder="" value="" required="">
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div> -->

    <div class="col-12">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" name="email" />
    </div>

    <div class="col-12">
      <label for="senha" class="form-label">Nova senha</label>
      <input type="senha" class="form-control" id="senha" name="senha" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
    </div>


  </div>

  <hr class="my-4" />

  <div class="d-flex px-1">
    <button type="submit" class="btn btn-success submit" id="btn-salvar" style="width: fit-content">
      SALVAR
    </button>

    <button type="button" class="btn btn btn-warning ms-auto" id="btnRESET" style="width: fit-content">
      Resetar
    </button>
    <button type="button" class="btn btn btn-danger ms-2" id="btnCancel" onclick="location.reload()" style="width: fit-content">
      Cancelar
    </button>
  </div>
</form>

<script>
  const formsPATCHuser = new Inputs("#formsPATCHuser");


  formsPATCHuser.allvalidacao({
    username: {
      max: 90,
      min: 3,
      caractereNpermitido: /[^a-zA-Z\s_\-\d]/g,
      pattern: [
        "[a-zA-Z\\s_\\-\\d]{2,90}",
        "apelido valido",
        "apelido invalido",
      ],
      btnoff: "paia"

    },
    senha: {
      max: 50,
      min: 8,
      caractereNpermitido: /[^a-zA-Z0-9\s]/g,
      pattern: ["^[a-zA-Z0-9\\s]{8,50}$", "senha valida", "senha invalido"],
      btnoff: "paia"

      // customerro: (elem, text) => {if(elem.match(/a/)) text = "a senha deve conter ao menos 8 caracteres"}
    },
    email: {
      max: 64,
      caractereNpermitido: /[^a-zA-Z0-9.@_-]/g,
      pattern: [
        "^[a-zA-Z0-9\\._+\\-]+@[a-zA-Z0-9\\.\\-]+\\.[a-zA-Z]{2,6}$",
        "email valido",
        "email invalido",
      ],
      customerro: [(async (value) => {
        if (((await axios.get("http://localhost:9000/api/user/cadastrar/?email=" + value)).data.resultado.email)) {
          return "Esse email já está em uso"
        }
      })],
      btnoff: "paia"
    }
  })


  // colocar as info do user no forms na primeira vez
  formsPATCHuser.resetDeinfo("http://localhost:9000/api/user/infos");


  // resetar os form para a info do user
  formsPATCHuser.forms.querySelector("#btnRESET").addEventListener("click", () => {
    // requisitar as infos dnv
    formsPATCHuser.resetDeinfo("http://localhost:9000/api/user/infos");

    // limpar senhas
    formsPATCHuser.forms.querySelector("#senha").value = "";

  });

  formsPATCHuser.patchInfo(`http://localhost:9000/api/user/patch/`, null, () => {
    localStorage.setItem("msg", "Edição concluida")
    location.reload()
  })
</script>