<section class="container col-11  border border-light col-md-9 col-lg-7 col-xl-5 m-auto align-content-center py-4 px-2 rounded bg-light shadow">
  <img src="images/logo.png" alt="" class="pb-3" style="width: 110px" />
  <!-- <div class="d-flex align-items-center pb-3 justify-content-around">
</div> -->



  <form class="container-fluid m-auto row g-3 needs-validation" novalidate id="formscadastro">
    <!-- nome real -->
    <div class="  col-12">
      <label for="nome " class="form-label mb-1 ps-2" maxlength="100" required>Nome Completo</label>
      <input class="form-control" id="nome" name="nome" type="text" />
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <!-- username -->
    <div class="col-12">
      <label for="username" class="form-label mb-1 ps-2" maxlength="100" required>Nome de Usuario</label>
      <input name="username" id="username" class="form-control" type="text" />
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <!-- email -->
    <div class=" col-12">
      <label for="email" class="form-label mb-1 ps-2" maxlength="100" required>Email</label>
      <input name="email" id="email" class="form-control" type="email" placeholder="digite seu email" />
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <!-- cpf -->
    <div class="  col-sm-8 col-12">
      <label for="cpf" class="form-label mb-1 ps-2" maxlength="100" required>CPF</label>
      <input class="form-control" id="cpf" name="cpf" type="text" />
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <!-- nasc -->
    <div class="  col-sm-4 col-12">
      <label for="nascimento" class="form-label mb-1 ps-2" maxlength="100" required>Data de Nascimento</label>
      <input name="nascimento" id="nascimento" class="form-control" type="date" />
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <!-- senha -->
    <div class="d-flex flex-column col-md-6 col-12">
      <label for="senha" class="form-label mb-1 ps-2">Insira sua senha</label>
      <div class="d-flex flex-row senhapaia">
        <input name="senha" id="senha" class="form-control rounded-end-0 inputsenha" type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
        <button type="button" class="btn btn-outline-primary rounded-start-0 btnsenha">
          <span class="m-auto"><i class="bi bi-eye-fill"></i></span>
        </button>
      </div>
      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>

    </div>

    <!-- senha2 -->
    <div class="d-flex flex-column  col-md-6 col-12">
      <label for="senha2" class="form-label mb-1 ps-2">Repita sua senha</label>
      <div class="d-flex flex-row senhapaia">
        <input name="senha2" id="senha2" class="form-control rounded-end inputsenha" type="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
        <button type="button" class="btn btn-outline-primary rounded-start-0 btnsenha">
          <span class="m-auto"><i class="bi bi-eye-fill"></i></span>
        </button>
      </div>

      <div class="invalid-feedback">Duração da viagem é um campo obrigatório.</div>
    </div>

    <div class="col-12 mt-3">
      <button class="btn btn-primary w-100 py-2 " type="submit">
        <h5 class="m-0">Cadastrar</h5>
      </button>
    </div>

    <p class="mt-3 text-center">
      já tem uma conta? <a href="/login">entre aqui</a>
    </p>
  </form>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cadastro = document.querySelector("#formscadastro")


    // cria um objeto contendo cada input com seu nome e o valor dele


    cadastro.addEventListener("submit", async () => {
      event.preventDefault();

      const data = {}
      for (x of [...cadastro.querySelectorAll("input")]) {
        data[x.name] = x.value
      }

      try {
        const cadastrar = await axios.post("http://localhost:9000/api/user/cadastrar", data)
        
      } catch (error) {
        acionarerro(error.response.data, error.response.status)
      }
    })

  })
</script>