<section class="banner container-fluid bg-dark  d-flex justify-content-center">
  <div class=" container-md   justify-content-between align-items-center  row">
    <div class="d-flex flex-column row-gap-2  inline text-light col-md-6 mr-auto" id="texto-banner">
      <h4 class=" text-primary">Alto Recarga</h4>
      <h1>Simplifique sua experiencia de transporte</h1>
      <p class="">Solicite já o seu cartão e pague menos em todas as viagens</p>
      <a href="#:" class="btn btn-primary mt-3 rounded-pill " href="#" role="button" style="width: fit-content;">Adquirá
        já</a>
    </div>

    <div class="d-none  flex-column col-6 col-md-4 d-md-flex  bg-error">
      <img src="images/card-banner-bottom.png" class="" id="img-top-banner">
      <img src="images/card-banner-meio.png" class="" id="img-meio-banner">
      <img src="images/card-banner-bottom2.png" class="" id="img-bottom-banner">
    </div>
  </div>

</section>

<section class="container d-flex justify-content-between flex-column-reverse flex-sm-row flex-wrap  pb-5" id="parte1">
  <div class="mt-5 d-flex flex-wrap col-sm-6  ">
    <h1>Modernidade para o transporte e facilidade para a sua empresa.</h1>
    <p>Conheça as modalidades oferecidas e as vantagens para sua empresa e seus colaboradores ao adquirir o Vale Transporte.</p>
  </div>
  <img src="images/carinha com cartão.png" alt="carinha com cartão" class="col-sm-4  ">
</section>


<%- include('../partials/_faixa_info.ejs') %>




<%- include('../partials/_carrosel_de_info.ejs') %>



<%- include('../partials/_mapa.ejs') %>

<%-include('../partials/_perguntasFrequente.ejs') %>


<script src="js/botoescards.js"></script>