

    <section class="container-fluid bg-dark pt-5 pb-4">
        <div class="text-white container">
            <h3>ROTAS E LINHAS</h3>
            <p class="ps-3">CONFIRA O ITINERARIO E ROTAS</p>
        </div>
    </section>



<div class="container d-flex my-4 px-0 py-4 justify-content-between flex-column flex-md-row">
    <section class="container-fluid ps-0 col-md-9 mx-0">

        <form class="container-fluid">
            <legend class="h3">Digite o número ou nome da linha desejada</label>
                <div class="d-inline-flex container-fluid p-0">
                    <input type="text" class="form-control rounded-end-0"
                        placeholder="505 H REGIONAL - MASSAGUAÇÚ VIA JETUBA" />
                    <button type="submit" class="btn btn-primary rounded-start-0">
                        buscar
                    </button>
                </div>
        </form>



        <div class="container-fluid my-4 d-flex flex-column row-gap-3 column-grow-1  " id="lista-linha">



        </div>

    </section>



    <aside class="container-fluid col-md-3 mx-0 bg-primary-subtle my-2 rounded py-2">
        <h2 class="mb-4">BAIRROS</h2>
        <ul class="nav flex-column ps-lg-4">
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-medium text-capitalize">Paia-paioso</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-medium text-capitalize">Paia-paioso</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-medium text-capitalize">Paia-paioso</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-medium text-capitalize">Paia-paioso</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-medium text-capitalize">Paia-paioso</a>
            </li>
        </ul>
    </aside>
</div>



<div id="restomodals"></div>

<script src="javascripts/rotas.js"></script>
