<section class="w-100 bg-dark pt-5 pb-4">
  <div class="text-white container">
    <h3>ROTAS E LINHAS</h3>
    <p class="ps-3">CONFIRA O ITINERARIO E ROTAS</p>
  </div>
</section>

<div class="container d-flex mt-4 px-0 pt-4 column-gap-lg-5 justify-content-between flex-column flex-md-row">
  <section class="col-lg-8">
    <form class="mb-4">
      <legend class="h3">Digite o número ou nome da linha desejada</legend>
      <div class="d-inline-flex p-0 w-100">
        <input type="text" class="form-control rounded-end-0" placeholder="505 H REGIONAL - MASSAGUAÇÚ VIA JETUBA" />
        <button type="submit" class="btn btn-primary rounded-start-0">
          buscar
        </button>
      </div>
    </form>

    <ul class="border-primary-subtle ps-0" style="list-style: none" id="lista-linha">
      <% linhas.forEach(linha => { %>
      <li class="bg-dark-subtle rounded-4 d-flex flex-column flex-lg-row px-3 my-3" data-bs-toggle="modal" style="cursor: pointer; height: 70px">
        <div class="d-flex align-items-center column-gap-md-3 column-gap-2 py-2">
          <img src="./images/icon bus.png" alt="..." class="img-fluid" style="width: 50px" />

          <div class="">
            <h5 class="mb-0"><%- linha.numero_linha %></h5>
            <p class="fs-5 mb-0">
              <%- linha.bairroOrigem %> / <%- linha.bairroDestino %>
            </p>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>

    <nav aria-label="..." class="border-top  pt-3 border-primary-subtle">
      <ul class="pagination"></ul>
    </nav>
  </section>

  

  <aside class="container-fluid col-md-4 mx-0 d-none d-lg-block bg-primary-subtle my-2 rounded py-2">
    <h3 class="mb-4">CONTATO E SUPORTE</h3>
    <p>Para mais informações, entre em contato:</p>
    <p>Email: paiosodms@exemplo.com</p>
    <p>Telefone: (12) 98000-000</p>
  </aside>
</div>

<script>

  // paginação
  const ulLinha = document.querySelector("#lista-linha")
  const elemsLista = [...ulLinha.children]
  const pagination = document.querySelector(".pagination")


  const elemPorPag = 7
  for (inicio = 0, fim = elemPorPag, n = 1; inicio <= elemsLista.length; inicio = inicio + elemPorPag, fim = inicio + elemPorPag, n++) {
    const li = document.createElement("li")
    li.classList.add("page-item")
    li.innerHTML = `<button type="button" class="page-link">${n}</button>`
    li.setAttribute("data-inicio", inicio)
    li.setAttribute("data-fim", fim)

    pagination.appendChild(li)
  }



  pagination.querySelectorAll("li").forEach((e) => {
    e.addEventListener("click", () => {
      const inicio = e.getAttribute("data-inicio"),
        fim = e.getAttribute("data-fim")

      elemsLista.forEach((elem, indi) => {

        if (indi < inicio) {
          elem.classList.add("d-none")
        } else if (indi >= fim) {
          elem.classList.add("d-none")
        } else {
          elem.classList.remove("d-none")
        }
      })


      pagination.querySelectorAll("li").forEach(e => e.classList.remove("active"));
      e.classList.add("active")
      e.blur()
    })
  })




  
  pagination.querySelector("li").click()
  ulLinha.style.height = (ulLinha.clientHeight) +"px"









  // modals

  // criarFuncaoModal()
</script>