<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Cadastro/</span> Passageiro</h4>



    <!-- meu  -->















    <!-- modal -->
    <div class="mt-3">
        <!-- Button trigger modal -->




        <div class="modal fade" id="exLargeModal" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header mb-3">
                        <h5 class="modal-title" id="exampleModalLabel4">Novo Passageiro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">Nome Completo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="basic-default-name"
                                        placeholder="John Doe" />
                                </div>
                            </div>



                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-phone">CPF</label>
                                <div class="col-sm-10">
                                    <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                        placeholder="62.895.578.-9" aria-label="658 799 8941"
                                        aria-describedby="basic-default-phone" />
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-email">Email</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="basic-default-email" class="form-control"
                                            placeholder="example@example.com" aria-label="john.doe"
                                            aria-describedby="basic-default-email2">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-email">Saldo R$</label>
                                <div class="col-sm-10">
                                    <div class="input-group input-group-merge">
                                        <input type="number" id="basic-default-phone" class="form-control phone-mask"
                                            placeholder="R$10,00" aria-label="658 799 8941"
                                            aria-describedby="basic-default-phone" />
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exLargeModal">
            Adicionar Novo Passageiro
        </button>







    </div>



</div>
</div>



<!-- fim meu  -->




<!-- / Content -->


<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Passageiros atuais</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card" style="height: 380px; overflow: auto">

            <div class="table-responsive text-nowrap">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>









                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th>Saldo</th>

                            <th>Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td>System Architect</td>

                            <td>61</td>
                            <td>fm68464@dasnfdaslk.com</td>
                            <td>$170,750</td>





                            <td>
                                <div>
                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#modalToggle" _msttexthash="557609" _msthash="306"> <i
                                            class='bx bx-cog'></i> </button>

                                    <!-- Modal 1-->
                                    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
                                        tabindex="-1" style="display: none;" _mstvisible="0" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                                            <div class="modal-content" _mstvisible="2">
                                                <div class="modal-header" _mstvisible="3">

                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Fechar" _mstaria-label="59709" _msthash="308"
                                                        _mstvisible="4"></button>
                                                </div>
                                                <div class="modal-body" _msttexthash="1992003" _msthash="309"
                                                    _mstvisible="3">
                                                    <div class="row" _mstvisible="4">

                                                        <div class="card-body">
                                                            <form>
                                                                <div class="mb-4">
                                                                    <label class="form-label">Nome</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-fullname" placeholder="Paioso"
                                                                        disabled>
                                                                </div>
                                                                <div class="mb-4">
                                                                    <label class="form-label"
                                                                        for="basic-default-company">CPF </label>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-company"
                                                                        placeholder="545454685514" disabled>
                                                                </div>
                                                                <div class="mb-4">
                                                                    <label class="form-label"
                                                                        for="basic-default-company">Email</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-company"
                                                                        placeholder="545454685514" disabled>
                                                                </div>
                                                                <div class="mb-4">
                                                                    <label class="form-label"
                                                                        for="basic-default-company">Saldo</label>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-company"
                                                                        placeholder="545454685514" disabled>
                                                                </div>


                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" _mstvisible="3">
                                                    <button type="submit" class="btn btn-warning ">Editar
                                                        informações</button>
                                                    <!-- <button type="submit" class="btn btn-success">Salvar alterações</button> -->
                                                    <button class="btn btn-danger" data-bs-target="#modalToggle2"
                                                        data-bs-toggle="modal" data-bs-dismiss="modal"
                                                        _msttexthash="350038" _msthash="310"
                                                        _mstvisible="4">Deletar</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal 2-->
                                    <div class="modal fade" id="modalToggle2" aria-labelledby="modalToggleLabel2"
                                        tabindex="-1" _mstvisible="0" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                                            <div class="modal-content" _mstvisible="2">
                                                <div class="modal-header " _mstvisible="3">
                                                    <h5 class="modal-title text-warning" id="modalToggleLabel2"
                                                        _msttexthash="66105" _msthash="311" _mstvisible="4"> Alerta!!!
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Fechar" _mstaria-label="59709" _msthash="312"
                                                        _mstvisible="4"></button>
                                                </div>
                                                <div class="modal-body" _msttexthash="1998048" _msthash="313"
                                                    _mstvisible="3"> <span> Tem certeza que desja excluir este
                                                        Motorista?</span> </div>
                                                <div class="modal-footer" _mstvisible="3">
                                                    <button class="btn btn-warning" data-bs-target="#modalToggle"
                                                        data-bs-toggle="modal" data-bs-dismiss="modal"
                                                        _msttexthash="324714" _msthash="314" _mstvisible="4">Não, voltar
                                                        as alterações</button>
                                                    <button type="submit" class="btn btn-danger">Sim, Deletar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </td>
                        </tr>
                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>
                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>
                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>

                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>

                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>
                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>
                        <tr>

                            <td>System Architect</td>

                            <td>61321322322</td>
                            <td>sfsg@dwaçsdi.com</td>
                            <td>$170,750</td>

                            <td>$170,750</td>
                        </tr>



                        </tfoot>
                </table>
            </div>
        </div>
    </div>