<div class="modal fade" id="editandoLinha" tabindex="-1" aria-labelledby="editandoLinhaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <h4 class="modal-title" id="editandoLinhaLabel">Editando Linha ${objEJS.numero_linha}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row g-2">
            <div class="col-md-4 ">
              <label for="numero_linhaEdit" class="form-label">Numero da linha</label>
              <input type="text" class="form-control" id="numero_linhaEdit" name="numero_linha" value="${objEJS.numero_linha}" required />
            </div>
            <div class="col-md-8 col-12">
              <h5 class="form-label " style="margin-top: 7px;">Editar Horarios de Saidas</h5>
              <button type="button" class="btn btn-primary w-100 " onclick='modalEditHorario(${JSON.stringify(objEJS)})'>Horarios dos Bairros</button>
            </div>

            <div class="col-md-6 col-12">
              <div>
                <label for="bairroOrigemEdit" class="form-label">1° Bairro</label>
                <input type="text" class="form-control" id="bairroOrigemEdit" name="bairroOrigem" value="${objEJS.bairroOrigem}" required />
              </div>
              <button type="button" class="btn btn-info w-100 mt-2" onclick='modalEditItinerario(${JSON.stringify(objEJS)})'>Editar Itinerario</button>
            </div>
            <div class="col-md-6 col-12">
              <div>
                <label for="bairroDestinoEdit" class="form-label">2° Bairro</label>
                <input type="text" class="form-control" id="bairroDestinoEdit" name="bairroDestino" value="${objEJS.bairroDestino}" required />
              </div>
              <button type="button" class="btn btn-info w-100 mt-2" onclick='modalEditItinerario(${JSON.stringify(objEJS)})'>Editar Itinerario</button>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-secondary btnvoltar">
            sair
          </button>
          <button type="submit" class="btn btn-warning">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>