<div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form id="resetForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="formCreateMotoristaLabel">
            Editando o ponto de onibus do CEP ${objEjs.cep}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="card-body form-group">
              <div class="row mb-4">
                <label class="col-sm-2 col-form-label" for="cepInput">CEP</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="cepInput" id="cepInput" placeholder="Enter CEP" value="${ objEjs.cep }" required>
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-2 col-form-label" for="street">Rua</label>
                <div class="col-sm-10">
                  <input type="text" name="street" id="street" class="form-control" value="${ objEjs.endereco.split(',')[0].trim() }" />
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-2 col-form-label" for="neighborhood">Bairro</label>
                <div class="col-sm-10">
                  <input type="text" id="neighborhood" name="neighborhood" class="form-control" value="${ objEjs.endereco.split(',')[1].trim() }" />
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-2 col-form-label" for="city">Cidade</label>
                <div class="col-sm-10">
                  <input type="text" id="city" class="form-control" name="city" value="${ objEjs.endereco.split(',')[2].trim() }" />
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-2 col-form-label" for="state">Estado</label>
                <div class="col-sm-10">
                  <input type="text" id="state" class="form-control" name="state" value="${ objEjs.endereco.split(',')[3].trim() }" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between ">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
          <div>
            <button type="button" class="btn btn-secondary" id="resetar" onclick="this.parentNode.parentNode.parentNode.reset()">Resetar</button>
            <button type="submit" class="btn btn-warning">Salvar alterações</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
