// Variable overrides first
// $primary: #900;
// $enable-shadows: true;
// $prefix: "mo-";

// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

$aspect-ratios: (
  "1x1": calc(4 / 3 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);

/* Estilizando a barra de rolagem para um elemento específico */

#lista-de-pontos::-webkit-scrollbar {
  width: 12px;
}

#lista-de-pontos {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3e0763;
    border-radius: 10px;
  }
}

#carrosel_buttons_info .col-sm {
  box-sizing: border-box;
  @extend .mt-1, .py-4;
  display: flex;
  justify-content: center;
  position: relative;

  button {
    position: relative;
    z-index: 3;
  }

  #backgroundPaioso {
    @extend .rounded-top-3, .bg-white;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    margin: auto;
    padding-bottom: 232px;
    z-index: 2;
    height: 100%;
    width: 100%;

    // transition: left 2s ease-in-out, right 2s ease-in-out;
  }
}
