
  <!-- cadastrar cartão de débito -->
  <section class="container-fluid pe-lg-5 " id="formscardDEBITO">
    <form class="row g-3 ms-1" id="cartão-de-DEBITO">
      <h4 class="text-uppercase mb-3">cartão de débito</h4>
      <div class="col-8">
        <input type="text" class="form-control" placeholder="N° do cartão">
      </div>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="MM/YY">
      </div>
      <div class="col-12">
        <input type="text" class="form-control" placeholder="Nome do Titular">
      </div>
      <h4 class="text-uppercase mb-3 mt-5">endereco da cobrança</h4>
      <div class="col-lg-8 col-sm-10 col-12 d-inline-flex justify-content-between">
        <input type="text" class="form-control w-50" placeholder="CEP">
        <a href="#" class="my-auto ms-2 w-50">Nao lembro o CEP</a>
      </div>
      <div class="col-12">
        <input type="text" class="form-control" placeholder="endereco">
      </div>
      <div class="col-sm-2 col-4">
        <input type="text" class="form-control" placeholder="N°">
      </div>
      <div class="col-sm-4 col-8">
        <input type="text" class="form-control" placeholder="COMPLEMENTO">
      </div>
      <div class= "col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="BAIRRO">
      </div>
      <div class="col-sm-9 col-8">
        <input type="text" class="form-control" placeholder="CIDADE">
      </div>
      <div class="col-sm-3 col-4">
        <select class="form-select" aria-label="Default select example">
          <option selected>ESTADO</option>
          <option value="1">SP</option>
          <option value="2">RJ</option>
          <option value="3">PAIA</option>
        </select>
      </div>
      <div class="mt-5">
        <button type="submit" class="btn  btn-primary me-2" id="confimarDEBITO" style="width: fit-content;">confimar</button>
        <button type="button" class="btn btn-secondary " id="btn-cancelarcardDEB" style="width: fit-content;">cancelar</button>
      </div>
    </form>
  </section>
