
.fundo{
    background-color: rgb(241, 241, 241);
}

header{
    background-color: rgb(228, 228, 228);
}

nav li > a{
    text-transform: capitalize;
    font-weight: 800;
    
}

nav li{
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235) ;
}

nav {
    background-color: rgba(186, 192, 192, 0.541);
    height: 100%;
    width: calc( (50% - 25vw) + 200px );
}

#menuV{
    width: 100% !important;
}


@media (max-width: 719px){
    nav {height: fit-content;
        background-color: rgb(228, 228, 228);
    }

    #menuV{
        width: 80%;
    }
}

