
main{
    background-color: rgb(241, 241, 241);
    
}



header{
    background-color: rgb(228, 228, 228);
    height: 3rem;
}

nav li > a{
    text-transform: capitalize;
    font-weight: 800;
    
}

nav li{
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235) ;
}

nav {
    background-color: rgba(186, 192, 192, 0.541);
    height: 100%;
    width: calc( (50% - 25vw) + 200px );
}

.formas{
    background-color: rgba(186, 192, 192, 0.541);
    min-height: 15px;"
}

#menuV{
    width: 100% !important;
}

#nomefoco{
    text-transform: uppercase;
}

@media (max-width: 765px){

    nav {
        left: 1rem;
        top: 0.2rem;
        position: absolute !important;
        height: fit-content;
        background-color: rgb(228, 228, 228);
        width: fit-content;
    }

    #menuV{
        width: 80%;
    }
}

