* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 90vh;
}

a{
    text-decoration: none !important;
    padding-bottom: 0;
    
}


#lista-linha{
    height: 550px;


}

#linhapaia img{
    width: 60px;
}

aside{
    height: fit-content;
}

#linhapaia{
    cursor: pointer;
}