* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 90vh;
}

a{
    text-decoration: none !important;
    padding-bottom: 0;
    text-transform: ;
}


#lista-linha{
    height: 550px;


}

article img{
    width: 60px;
}

aside{
    height: fit-content;
}