.texto-Menu-m {
  font-size: 1.5rem;
  text-transform: uppercase;
}


main .banner{
    height: ;
}

main .banner img{
    width: 20em;
}



#img-top-banner{
    margin-left: auto;
    margin-bottom: -6em;
}

#img-meio-banner{
    margin-right: 10em;
}


 #img-bottom-banner{
    margin-left: auto;
    margin-top: -5em;
 }