<!-- RECARGA -->
<section class="container-fluid mt-4" id="iniciopag">

  <div id="alert">
    <script>
      alert("alert");
    </script>
  </div>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link active">Minha Conta</button>
    </li>
    <li class="nav-item">
      <button class="nav-link " id="btnPaia2" aria-current="page">Conta de Outra Pessoa</button>
    </li>
  </ul>


  <div class="border p-3 rounded-bottom">

    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4">Recarga da Conta</h2>

        <form>

          <div class="mb-3">
            <label for="valor" class="form-label visually-hidden">Valor</label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input type="number" class="form-control" step="0.01" value="" id="valor" name="valor" placeholder="Digite o valor" required>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Recarregar</button>
        </form>
      </div>
    </div>

  </div>

</section>
<!-- RECARGA -->




<script>
  const form = new Inputs("form")
  form.forms.addEventListener("submit", async (e) => {
    e.preventDefault()

    try {
      const {
        valor
      } = form.allValues()



      const {
        id
      } = (await axios.get("http://localhost:9000/api/user/infos/?id", getCookie())).data

      const response = await axios.patch(`http://localhost:9000/api/adm/passageiros/recarga/${id}/${valor}`)

      console.log(response);

      localStorage.setItem("alert", JSON.stringify({
        cor: "success",
        texto: ` vc recarregou a sua conta no valor de R$ ${ parseFloat(valor).toFixed(2).replace(".", ",") }. Seu saldo agora é de R$${ parseFloat(response.data.saldo).toFixed(2).replace(".", ",") }  `,
        div: "#alert",
      }))

      location.reload()

    } catch (error) {
      console.error(error);

    }


  })

  AlternarDePag("btnPaia2", "recarga", "recarga2")
</script>