<!-- RECARGA -->
<section class="container-fluid mt-4" id="iniciopag">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link " id="btnPaiaINICIO">Minha Conta</button>
    </li>
    <li class="nav-item">
      <button class="nav-link active" aria-current="page">Conta de Outra Pessoa</button>
    </li>
  </ul>


  <div class="border p-3 rounded-bottom">

    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4">Recarga por CPF</h2>

        <form>
          <div class="mb-3">
            <label for="cpf" class="form-label visually-hidden">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite o CPF" required>
          </div>

          <div class="mb-3">

            <label for="valor" class="form-label ">Valor da recarga para <strong></strong> </label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input type="number" class="form-control" id="valor" name="valor" disabled placeholder="Digite o valor" required>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Recarregar</button>
        </form>
      </div>
    </div>

  </div>

</section>
<!-- RECARGA -->





<script>
  const form = new Inputs("form")
  
  form.allvalidacao({
    ...validGeral,
    cpf: {
      ...validGeral.cpf,
      customEvento: [
        (async (value) => {
          console.log('s');
          try {
            const {
              data
            } = (await axios.get(`http://localhost:9000/api/adm/passageiros/recarga/${value}`))
            if (data.status === "P2025") {
              form.forms.valor.disabled = true
              return "Esse CPF não esta cadastrado"
            }

            form.forms.querySelector("strong").innerText = data.nome
            form.forms.valor.disabled = false
          } catch (error) {

            console.error(error);
            form.forms.valor.disabled = true
            return "erro ao tentar encontrar o cpf"

          }

        })
      ],
    }
  })

  form.forms.addEventListener("submit", async (e) => {
    e.preventDefault()

    try {
      const {
        valor,
        cpf
      } = form.allValues()




      const response = await axios.patch(`http://localhost:9000/api/adm/passageiros/recarga/${cpf}/${valor}`)

      console.log(response);

      localStorage.setItem("alert", JSON.stringify({
        cor: "success",
        texto: ` vc recarregou a conta do ${form.forms.querySelector("strong").innerText} no valor de R$ ${ parseFloat(valor).toFixed(2).replace(".", ",") }.  `,
        div: "#alert",
      }))

      location.reload()

    } catch (error) {
      console.error(error);
      localStorage.setItem("alert", JSON.stringify({
        cor: "danger",
        texto: ` Ocorreu um erro. Nao foi possivel fazer a recarga`,
        div: "#alert",
      }))
    }


  })

  AlternarDePag("btnPaiaINICIO", "recarga", "inicio")
</script>