/* GERAL */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


  *{
      padding: 0px;
      margin: 0;
}



.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 2vw;
    border-radius: 1.5em;
}

/* GERAL */

/* main */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


main h2{
    text-transform: uppercase;
    font-family: 'Inter', sem serifa;
    font-weight: 500;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}



main h1{
    text-transform: uppercase;
    font-family: 'Inter', sem serifa;
    font-weight: 500;
}


main img{
    position: relative;
    margin: auto;
    width: 17em;
    margin: 3em 0 3em 0;
}

/* main */



/* INFO E LOGO */

footer img{
    width: 5em;
}

footer span{
    text-transform: uppercase;
    font-family: 'Inter', sem serifa;
    font-weight: 400;
    font-size: 1.3em;
}


footer{
    margin-top: auto;
    margin-left: 1.5em;
}

footer > div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: end;
    margin-bottom: 0.2em;
   
}
/* INFO E LOGO */