*{
    padding: 0px;
}

.wrapper{
    display: grid;
    background-color: #253561;
    width: 655px;
    height: 856px;
    border-radius: 40px;
    grid-template-areas: 'header header' 'info img ' 'info img';
}


header h3{
    color: #FFFAFA;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
}

main{
    grid-area: img;
}

footer{
    display: flex;

    grid-area: info;
}

footer div{
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: row;
}